body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #f4f4f4;
  line-height: 1.6em;
  margin: 0;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.main-header {
  background-color: coral;
  height: 40px;
  padding-top: 15px;
  color: #fff;
  font-weight: bold;
  word-spacing: 10px;
}
.main-nav {
  background-color: #333;
}
.main-nav ul {
  padding: 0;
}
.ul-list li {
  list-style: none;
  display: inline;
  padding-right: 10px;
}
.ul-list li a {
  color: #fff;
  text-decoration: none;
}
li a:hover {
  color: coral;
}
.showcase1 {
  color: #fff;
  word-spacing: 5px;
  background-image: url(imgs/abstract.png);
  background-position: center left;
  height: 300px;
}
.showcase1 p {
  padding-top: 50px;
  font-size: 24px;
  font-weight: bolder;
}
.showcase2 {
  float: left;
  width: 70%;
  box-sizing: border-box;
  color: #333;
  /* border: solid black 1px; */
}
.main-section {
  /* background-color: red; */
  margin-left: 0;
  padding-top: 10px;
  /* border: solid black 1px; */
}
.main-section h2,
p {
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: border-box;
}
.main-section h2 {
  background-color: #333;
  color: #f4f4f4;
}
.aside {
  padding-top: 10px;
  float: right;
  width: 30%;
  background-color: #333;
  color: #fff;
  box-sizing: border-box;
}
.clr {
  clear: both;
}
.main-footer {
  height: 40px;
  margin: auto;
  text-align: center;
  background-color: #333;
  color: #fff;
}
